{% extends 'base.html.twig'%}

{% block title %} IS BBK Blansko - Homepage{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="container-fluid" style="text-align: center">
        <div>
            <p>Vítejte na nově vzniklém Informačním systému BBK Blansko<br></p>
            <p style="font-weight: bold">Systém je v pilotní fázi a stále se vyvíjí<br><br></p>
            <p> V případě dotazů se obraťte na Admina<br>
            <p>607128731    |   <a href = "mailto: adam.prikryl7@gmail.com">adam.prikryl7@gmail.com</a></p>
        </div>
    </div>
{% endblock %}